extends layout
block content
   body#LoginForm
      .login-form
       #page-wrapper.gray-bg.m-left
      .row.border-bottom
      .row.wrapper.border-bottom.white-bg.page-heading
      .col-lg-12
        h2 Web Note App
        ol.breadcrumb
          li.active
            a(href='login') Home
          li.active
            strong Register
        .main-div
          .panel
            h2 Register to login and view Personalized Notes
            p Please enter your email and password
          form#Login
            .form-group
              input#inputName.form-control(type='string', placeholder='Full Name')
            .form-group
              input#inputEmail.form-control(type='email', placeholder='Email Address')
            .form-group
              input#inputPassword.form-control(type='password', placeholder='Password')
            .forgot
              a(href='register') Forgot password?
            button#loginbtn.btn.btn-primary(type='submit') Login
            button.btn.btn-w-m.btn-primary(type='reset') Reset
   